<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="InetBanking">

<listeners>
<listener class-name="com.InetBanking.Utilities.Reporting"></listener>
</listeners>

  <test thread-count="5" name="Test">
  <parameter name = "browser" value = "chrome"/>
    <classes>
            <class name="com.InetBanking.TestCases.TC_LoginTest_01"/>
           <class name="com.InetBanking.TestCases.TC_LoginDDT_02"/>
           <class name="com.InetBanking.TestCases.TC_AddNewCustomer_03"/>
           
           
      
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
