<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="InetBanking">

<listeners>
<listener class-name="com.Teladoc.Utilities.Reporting"></listener>
</listeners>

  <test thread-count="5" name="Test">
  <parameter name = "browser" value = "chrome"/>
    <classes>
<!--             <class name="com.InetBanking.TestCases.TC_01_ExpediaTest"/> -->
 
        <class name="com.Teladoc.TestCases.TC_01_AddValidateUser"/>  
	     <!--    <class name="com.Teladoc.TestCases.TC_02_DeleteRecord"/> -->

      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->




